openapi: 3.0.0
info:
  title: SafeSoundArena API
  description: |
    Comprehensive API documentation for SafeSoundArena platform.
    This API provides endpoints for game management, user authentication, blockchain interactions, and real-time communication.
  version: 1.0.0
  contact:
    name: SafeSoundArena Support
    email: support@safesoundarena.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.safesoundarena.com/v1
    description: Production server
  - url: http://localhost:4000/v1
    description: Development server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Error message
        details:
          type: string
          description: Additional error details
    
    User:
      type: object
      properties:
        userId:
          type: string
          description: Unique user identifier
        email:
          type: string
          format: email
        name:
          type: string
        isAdmin:
          type: boolean
          default: false
        preferences:
          type: object
          properties:
            notifications:
              type: object
              properties:
                email:
                  type: boolean
                push:
                  type: boolean
        createdAt:
          type: string
          format: date-time

    Game:
      type: object
      properties:
        id:
          type: string
          description: Unique game identifier
        status:
          type: string
          enum: [waiting, in_progress, completed, cancelled]
        players:
          type: array
          items:
            type: string
          description: Array of player IDs
        currentTurn:
          type: string
          description: ID of the player whose turn it is
        board:
          type: object
          description: Game board state
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                  minLength: 8
                name:
                  type: string
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User registered successfully
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags: [Authentication]
      summary: Authenticate user and get JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    description: JWT token for authenticated requests
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /games:
    get:
      tags: [Games]
      summary: Get list of available games
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [waiting, in_progress, completed]
          description: Filter games by status
      responses:
        '200':
          description: List of games
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'

    post:
      tags: [Games]
      summary: Create a new game
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [standard, ranked, custom]
                  default: standard
                private:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Game created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  gameId:
                    type: string
                    description: ID of the created game

  /games/{gameId}:
    get:
      tags: [Games]
      summary: Get game details
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: gameId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Game details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'

  /blockchain/balance/{address}:
    get:
      tags: [Blockchain]
      summary: Get token balance for an address
      parameters:
        - in: path
          name: address
          required: true
          schema:
            type: string
          description: Blockchain address to check balance for
      responses:
        '200':
          description: Balance information
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                  balance:
                    type: string
                    description: Token balance in wei
                  token:
                    type: string
                    description: Token contract address

  /leaderboard:
    get:
      tags: [Leaderboard]
      summary: Get top players
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
          description: Number of top players to return
      responses:
        '200':
          description: Leaderboard data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    score:
                      type: number
                    rank:
                      type: integer

  /health:
    get:
      tags: [System]
      summary: Health check endpoint
      responses:
        '200':
          description: System status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    example: 1.0.0
                  timestamp:
                    type: string
                    format: date-time

tags:
  - name: Authentication
    description: User registration and authentication
  - name: Games
    description: Game management and operations
  - name: Blockchain
    description: Blockchain interactions and token management
  - name: Leaderboard
    description: Player rankings and statistics
  - name: System
    description: System health and status
